<div class="intro">
    <p>
    {{description}}
    </p>
</div>

{{>getting-started}}

<h2>Description</h2>

<p>Use this module is as simple as adding the following code, the rest is done with css and html, please check full example:</p>

```
YUI().use('gallery-y-common-radios', function(Y) {

    /* initializes radio buttons */
    new Y.Common.Radios();

});
```

<h2>API Docs</h2>

<p>For detailed explanation of this component, default values and constructor arguments check <a href="{{{apiDocsUrl}}">api docs</a></p>